.contenedor_padre {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    justify-content: center;


}

.card {
    width: 50%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;



    img {
        width: 180px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .contenido {
        text-align: center;

        a {
            text-decoration: none;
            display: inline-block;
            padding: 10px;
            color: #eb910a;
            border: 1px solid #eb910a;
            border-radius: 4px;
        }
    }


}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
}

.container_lr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-areas: "sobreNosotros"
        "descripcion"
        "imagen";
    

}

#la_residencia {
    grid-template-areas: "sobreNosotros";
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

