.img-logo {
    width: 10%;
    height: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
}

.img-central {
    width: 40%;
    height: auto;
    border-radius: 17%;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.img-top{
    width: 25%;
    height: 25%;
}