.p-historia {
    font-family: monospace;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    justify-content: space-between;
}

.text_description {
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}