@media screen and (max-width: 576px) {
    .contenedor_padre {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        text-align: center;
        justify-content: center;
               
    }
    
    .img-top{
        width: 75%;
        height: 75%;
    }
}



